body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#divhead{
    width: 100%;
    height: 125px;
    text-align: center;
}

#sectioncenter{
    display: block;
    width: 100%;
    height: 550px;
}

th, td{
    width: 900px;
    height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    
    width: 100%;
    display: block;
}

#tbodycon{
    width: 100%;
    height: 400px;
    display: block;
    overflow: auto;
}